<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>

    <a href="/order/all">Orders</a> <br />
    <a href="/carrier/all">Carriers</a> <br />
    <a href="/customer/all">Customers</a> <br />
    <a href="/about">About 2-Go</a>
    <br />

<%- include("./includes/footer.ejs"); %>
