title{
    font-size:24px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
    background-color:#3d3d3d;
    padding:50px;
    font-size:16px;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
a {
    color:#dfdfdf;
}