<%- include("../includes/header.ejs", {title:"About 2-Go"}); %>

<h1>About 2-Go</h1>
        <br />
        <li>Purpose: To assist a food delivery service with their data organization.</li>
        <br/>
        <li>Developer: Hayden Zollars</li>
        <br/>
        <li> Assignment: CS 355 Final Project</li>
<h2>Diagrams:</h2>
        <br />
        <a href="/about/ER">Entity-Relationship Diagram</a> <br /><br />
        <a href="/about/RS">Relational Schema</a> <br /><br />
        <a href="/about/FDD">Functional Dependency Diagram</a> <br />
        <br />

<a href="/"><< Back</a>
<%- include("../includes/footer.ejs"); %>