<%- include("../includes/header.ejs", {title:"About 2-Go"}); %>

<h1>Entity Relationship Diagram</h1>
<br />
<img src="/images/ERP2.png">
<br />
<br />
<a href="/about"><< Back</a>
<%- include("../includes/footer.ejs"); %>